body { background: #5756b7; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 26px; display: flex; }
.block-config-0 { color: #8fc6ea; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #3f0be4; font-size: 18px; margin-bottom: 5px; }
.block-auth-2 { color: #7ec898; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #2befcb; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #d7ad05; font-size: 17px; margin-bottom: 5px; }